*{
	margin: 0;
	padding: 0;
	font-family: Montserrat;
	outline: none;
}
header{
	width: 100%;
	height: 80px;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	color: #fff;
	font-size: 20px;
	padding:0 20px;
	padding-right: 90px;
	z-index: 1;
	background: rgba(171, 237, 216, 0.15);
}
header a{
	color: #fff;
	text-decoration: none;
	font-size: 22px;
	display: block;
}

header a:hover{
	color: #46cdcf;
	transition: 0.2s;
}
.lg a:hover{
	color: #fff;
}
.lg{
	width: 320px;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-sizing: border-box;
	padding: 0 70px;
	text-transform: uppercase;
}
.lg img{
	width: 50px;
	height: 50px;
}
.lg i{
	font-size: 2em;
}
.menu{
	text-align: center;
}
.menu ul{
  	list-style: none;
 	margin: 0;
  	padding: 0;
}
.topmenu > li {
  display: inline-block;
  position: relative;
}
.topmenu > li > a {
  position: relative;
  padding: 10px 15px;
  font-size: 1.2em;
}
.submenu {
  position: absolute;
  z-index: 4;
  left: 50%;
  top: 100%;
  width: 150px;
  padding: 15px 0 15px;
  margin-top: 5px;
  background: rgba(171, 237, 216, 0.15);
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0,0,0,.2);
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, 20px);
  transition: .3s;
}
.topmenu > li:hover .submenu {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
}
.submenu a {
  font-size: 20px;
  padding: 5px 10px;
  transition: .3s linear;
}
.reg{
	display: flex;
	width: 280px;
	justify-content: space-between;
	align-items: center;
}
.stand{
	width: 450px;
	height: 570px;;
	position: absolute;
	right: 50px;
	z-index: 10;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	color: #fff;
}
.stand h3{
	font-size: 35px;
}
.pic{
	position: absolute;
	width: 100%;
	height: 100vh;
	left: 0;
	top: 0;
	background: url(https://omox.com.ua/upload/iblock/841/841141eff2a664e5be419fb81a74388a.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	filter: brightness(35%);
}
.inf{
	position: absolute;
	top: 105vh;
	width: 100%;
	height: 100vh;
	color: #000;
	font-size: 25px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	/*text-shadow: 2px 4px 3px rgba(0,0,0,0.3);*/

}
.op{
	width: 95%;
	height: 70%;
	margin: 0 20px;
	box-shadow: 0 2px 15px rgba(99, 99, 99, 0.2);
	padding: 30px;
	box-sizing: border-box;
}
.more{
	position: relative;
	width: 100%;
	margin-top: 100px;
	height: 100px;
	box-shadow: 0 2px 15px rgba(99, 99, 99, 0.2);
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 2em;
	padding: 0 50px;
	box-sizing: border-box;
	background: url(https://omox.com.ua/upload/iblock/841/841141eff2a664e5be419fb81a74388a.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	filter: brightness(35%);
}
.more a{
	color: #000;
}
.more a:hover{
	transition: 0.2s;
	color: #46cdcf;
}
.main{
  	max-width: 900px;

}
.sl_slide{
  	position: relative;
}
.sl2_slide{
  	cursor: pointer;
}
img{
  	max-width: 100%;
  	height: auto;
}
.dec{
	width: 90%;
	height: 160vh;
	position: relative;
	top: 50px;
	background: rgba(171, 237, 216, 0.15);
	left: 50px;
	box-shadow: 0 2px 15px rgba(99, 99, 99, 0.2);
	padding: 0 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	border-radius: 20px;
	transition: 0.5s;
}
.stdinf{
	width: 400px;
	height: 50%;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 1.6em;
	box-shadow: 0 2px 15px rgba(99, 99, 99, 0.2);
}
.stdinf h3{
	margin-bottom: 10px;
	font-size: 1.5em;
}
#price{
	margin-left: -50px;
	color: lime;
}
.all{
	width: 100%;
	height: 40%;
	padding: 50px;
	font-size: 24px;
}
.all a{
	display: block;
	width: 150px;
	height: 30px;
	text-decoration: none;
	color: #000;
	border-radius: 10px;
	border: 2px solid #000;
	text-align: center;
	padding: 3px 0;
}
.all a:hover{
	transition: 0.2s;
	color: #fff;
	background: #abedd8;
}
@font-face {
    font-family: Montserrat; 
    src: url(Montserrat-Light.ttf);
}

@media screen and (max-width: 476px) {
	*{
		overflow-x: hidden;
	}
	header{
		font-size: 5px;
		padding: 0;
	}
	.lg{
		padding: 0;
		width: 30%;
		font-size: 10px;
		padding-left: 20px;
	}
	.lg h1{
		font-size: 16px;
	}
	.menu{
		width: 70%;
		font-size: 2.8em;
	}
	.topmenu{
		padding: 0;
	}
	.topmenu > li > a{
		padding: 5px;
	}
	.submenu{
		width: 100px;
	}
	.submenu a{
		font-size: 12px;
	}
	.reg{
		display: none;
	}
	.dec{
		background: transparent;
		left: 0;
		top: 20px;
		overflow-y: hidden;
	}
	.stdinf{
		width: 400px;
		margin-top: 50px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: 1.2em;
		color: #000;
		height: 420px;
		background: #fff;
	}
	.stdinf h3{
		font-size: 1.3em;
	}
}