
html{
	overflow-x:hidden; 
}
*{
	padding: 0;
	margin: 0;
	font-family: "impact";
	letter-spacing: 1px;
}
.header{
	height: 100px;
	background: black;
	color: #fff;
	padding: 0 30px;
	box-shadow: 0px 1px 10px black;
}
.logo{
	line-height: 100px;
	font-size: 5em;
	font-weight: 900px;
	text-transform: uppercase;
	font-family: impact;
	letter-spacing: 1px;
	float: left;
}
.menu{
	line-height: 100px;
	float:right;
}
.menu a{
	color: #fff;
	font-size: 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: impact;
	letter-spacing: 1px;
	padding: 0 10px;
	transition: 0.5s;
}
.menu a:hover, .s-menu-btn:hover, .h-menu-btn:hover{
	color: #05c46b;
}
.s-menu-btn, .h-menu-btn{
	transition: 0.5s;
	font-size: 30px;
	cursor: pointer;
	display: none;
}
.s-menu-btn{
	float: right;
}
.s-menu-btn i{
	line-height: 100px;
}
#chk{
	visibility: hidden;
	position: absolute;
	z-index: 1111;
}	
.txt{
	width: 50px;
	height: 100px;
	position: absolute;
	top:150px;
	background: black;
	transition:0.5s;
	border-radius: 0 30px 30px 0;
}
.txt h3{
	position: absolute;
	right: 0;
	line-height: 100px;
	color: #fff;
	margin-right: 10px;
	font-size: 40px;
	transition: 0.5s;
}
.txt h1{
	position: absolute;
	left: -600px;
	line-height: 100px;
	color: black;
	margin-left: 100px;
	font-size: 40px;
	transition: 0.5s;
}
.txt:hover{
	width: 700px;
	transition:1s;
	box-shadow: 0px 1px 10px black;
}
.txt:hover h3{
	color: black;
	transition:1s;
	margin-right: 50px;
}
.txt:hover h1{
	color: #fff;
	transition:1s;
	left:10px;
}
.txt::before{
	content: '';
	text-align: justify;
	padding: 40px;
	position: absolute;
	background: #fff;
	top: 100px;
	color: #fff;
	left: -610px;
	width: 520px;
	height: 360px;
	box-shadow: 0px 5px 10px black;
	border-top: none;
	border-radius: 0 0 30px 30px;
	transition:0.5s;
}
.txt:hover::before{
	height: 360px;
	color: black;
	content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Et malesuada fames ac turpis egestas. Eget gravida cum sociis natoque penatibus et magnis dis. Ac tortor dignissim convallis aenean. Tortor condimentum lacinia quis vel eros. Egestas fringilla phasellus faucibus scelerisque. Sem integer vitae justo eget magna. Nec tincidunt praesent semper feugiat nibh sed pulvinar. Viverra maecenas accumsan lacus vel. A cras semper auctor neque. Turpis in eu mi bibendum neque.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Et malesuada fames ac turpis egestas. Eget gravida cum sociis natoque penatibus et magnis dis. Ac tortor dignissim convallis aenean. Tortor condimentum lacinia quis vel eros. Egestas fringilla phasellus faucibus scelerisque. Sem integer vitae justo eget magna. Nec tincidunt praesent semper feugiat nibh sed pulvinar. Viverra maecenas accumsan lacus vel. A cras semper auctor neque. Turpis in eu mi bibendum neque.';
	left: 30px;
	transition:1s;
}
@media screen and (max-width: 1200px) {
	.s-menu-btn, .h-menu-btn{
		display: block;
	}
	.menu{
		width: 100%;
		position: fixed;
		height: 100vh;
		background: black;
		right: -100%;
		top: 0;
		text-align: center;
		padding: 80px 0;
		line-height: normal;
		transition: 1s;
	}
	.menu a{
		display: block;
		padding: 30px 0;
	}
	.h-menu-btn{
		position: absolute;
		right: 40px;
		top: 40px;
	}
	#chk:checked ~ .menu{
		right: 0;
	}
}
.center{
	position: absolute;
	top: 200px;
	right: 300px;
	height: 2000px;
	background: black;
	box-shadow: -100px 5px 1px #05c46b, 30px 5px 1px #05c46b;
	border-radius: 0 0 30px 30px;
	transform: rotate(75deg);
	width: 1000px;
}
.pic{
	position: absolute;
	width: 35%;
	height: 50%;
	left: 10%;
	top: 20%;
}
img{
	width: 100%;
	height: 100%;
	margin-top: 189px;
	box-shadow: 5px 5px 20px black;
	transform: translateY(-50%);
}
.sr{
	position: absolute;
	right: 0;
	top: 80px;
	font-size: 30px;
	transition: 0.5s;
	display: flex;
	flex-direction: column;
	height: 200px;
	justify-content: space-around;
	align-items: center;
	width: 100px;
	text-align: center;
}
.pic:hover .sr{
	right: -100px;
	transition: 0.5s;
}
.sr a{
	color: black;
	transition: 0.5s;
}
.sr a:hover{
	color: #05c46b;
	transition: 0.5s;
}
.tx_pic{
	position: absolute;
	width: 600px;
	height: 50%;
	right: 100px;
	top:30%;
}
.cp1, .cp2{
	width: 40%;
	position: absolute;
	height: 15%;
	transform: rotate(-75deg);
	box-sizing: border-box;
	transition:1s;  
}
.cp1{
	left: 30px;
	top:1100px;
}
.cp2{
	left: 570px;
	top:400px;
}
.center img{
	position: absolute;
	top: -40px;
	width: 100%;
	height:100%;
}
.ct1, .ct2{
	width: 60%;
	position: absolute;
	height: 15%;
	transform: rotate(-75deg);
	box-sizing: border-box;
	color: white;
}
.ct1{
	left: 50px;
	top:460px;
}
.ct2{
	left: 370px;
	top:1060px;
}
.cp1:hover{
	box-shadow: 0 0 20px #05c46b;
	transition:0.5s;  
}
.cp2:hover{
	box-shadow: 0 0 20px #05c46b; 
	transition:0.5s;  
}
.cir{
	width: 100%;
	margin-bottom: 100px;
	position: absolute;
	top: 2000px;
	padding: 20px;
	display: flex;
	justify-content: space-around;
}
.cir ul{
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0 200px;
	margin: 0;
}
.cir ul li{
	position: relative;
	list-style-type: none;
	transform: rotate(-30deg) skew(25deg);
	width: 100px;
	height: 100px;
	margin: 0 30px;
	background: none;
}
ul li .shd{
	position: absolute;
	background: #000;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	font-size: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
	color: #fff;
}
ul li:hover .shd:nth-child(5){
	transform: translate(40px, -40px);
	opacity: 1;
}
ul li:hover  .shd:nth-child(4){
	transform: translate(30px, -30px);
	opacity: .8;
}
ul li:hover  .shd:nth-child(3){
	transform: translate(20px, -20px);
	opacity: .6;
}
ul li:hover  .shd:nth-child(2){
	transform: translate(10px, -10px);
	opacity: .4;
}
ul li:hover  .shd:nth-child(1){
	transform: translate(0, 0);
	opacity: .2;
}
ul li:nth-child(1) .shd{
	background: #dd4b39;
}
ul li:nth-child(2) .shd{
	background: #ff6b81;
}
ul li:nth-child(3) .shd{
	background: #3b5999;
}
ul li:nth-child(4) .shd{
	background: #1e90ff;
}
ul li:nth-child(5) .shd{
	background: #55acee;
}
.cir h1{
	position: absolute;
	top: -150px;

	font-size: 50px;
	display: block;
	padding: 10px;
	box-shadow:-10px 10px 0px #05c46b,10px -10px 0px #05c46b; 
	transition: 0.5s;
}
.cir h1:hover{
	box-shadow:-10px -10px 0px #05c46b,10px 10px 0px #05c46b; 
	transition: 0.5s;
}
.works h1{
	position: absolute;
	top: -150px;
	left:51%;
	transform: translateX(-51%);
	font-size: 50px;
	display: block;
	padding: 10px;
	box-shadow:-10px 10px 0px #05c46b,10px -10px 0px #05c46b; 
	transition: 0.5s;
}
.works h1:hover{
	box-shadow:-10px -10px 0px #05c46b,10px 10px 0px #05c46b; 
	transition: 0.5s;
}
.works{
	width: 100%;
	height: 650px;
	position: absolute;
	top: 2400px;
	padding: 20px 0;
	box-shadow: 5px 5px 20px black;
	background: black;
	border-top:10px solid #05c46b;
	box-sizing: border-box;
}
.work1{
	width: 45%;
	margin-left: 80px;
	height: 95%;
	float: left;
	background: url("https://bipbap.ru/wp-content/uploads/2017/06/665-495-36cd454d7d4e169739a5d797329d5800-ZGExM2ZjYmU3ZQ.jpg");
	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center;
  	display: inline-block;
  	transition: 0.5s;
}
.work{
	margin-right: 80px;
	width: 43%;
	float: right;
	height: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.wpic{
	width: 45%;
	height: 45%;
	transition: 0.5s;
}
.wpic:hover, .work1:hover{
	box-shadow: 0px 0px 20px #05c46b;
	transition: 0.5s;
}
.w1{
	background: url("https://klike.net/uploads/posts/2018-07/1531820466_5.jpg");
	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center;
  	display: inline-block;

	
}
.w2{
	background: url("https://cdn.fishki.net/upload/post/2017/07/12/2334815/8887.jpg");
	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center;
  	display: inline-block;
}
.w3{
	background: url("https://image.freepik.com/free-photo/_1253-1477.jpg");
	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center;
  	display: inline-block;
}
.w4{
	background: url("https://99px.ru/sstorage/53/2018/02/tmb_221067_337639.jpg");
	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center;
  	display: inline-block;
}
#particles-js{
	
	height: 2500px;
	background-color: #fff;
}
